.container {
  background-color: #efefef;
  cursor: grab;
}

.container.grabbing {
  cursor: grabbing;
}

.title {
  font-family: 'Dangrek', cursive;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #868686;
}

.icon {
  bottom: 0.5rem;
  position: absolute;
  font-size: 3rem;
  color: #868686;
}
